body {
    background-color: #f0f2ef;
}

#center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.button {
    width: 100px;
    height: 100px;
    margin-left: 10px;
    border-radius: 50%; /* Make button circular */
    border: none; /* remove default border */
    padding: 0; /* remove extra padding */
    background-color: transparent; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_img {
    width: 80%;
    height: 80%;
    border-radius: 50%;
}

button:hover {
    transition: transform 0.3s ease;
    transform: rotate(30deg);
}
